body{
    font-family: 'Oxygen', sans-serif;
}

.navbar-brand,
.navbar-brand:hover {
    font-family: 'Playball', cursive;
    color: #ff2903;
}

.navbar {
    background-color: #24244b;
}

#cabecalho .nav .nav-link {
    color: #ffffff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #24244b;
}

.nav-destaque .nav-link.active {
    background-color: #ff2903;
    color: #ffffff;
}

.nav-destaque .nav-link {
    color: #ff2903;
}

.navbar-toggler {
    background-color: #ff2903;
}

#sobre-a-loja {
    background-color: #000000;
}

#sobre-a-loja p,
#sobre-a-loja h2 {
    color: #7b7b7b;
}

#destaque {
    background-color: #d4d9e2;
}

#contato button {
    background-color: #000000;
    color: #fff;
}

.social-links li{
    display: inline;
    list-style: none;
}

.social-links a {
    text-decoration: none;
    color: #9f9f9f;
}

@media (max-width:767px) {
    .carousel-item img {
        height: 220px;
    }
}